<?xml version="1.0"?>
<configuration>
	<configSections>
		<!--
			name = This needs to match the name of the section that the settings are stored
			type = is a 2 part value.  Part 1 is the full path (w/ namespace to the class that will hold
			this data.  Part 2 is the name of the assembly this class is found in.
		-->
			<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
			<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
				<section name="KeyFreak.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
			</sectionGroup>
	</configSections>

	<!-- This section contains the log4net configuration settings -->
	<log4net>
		<!-- Define some output appenders -->
		<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
			<file value="${APPDATA}\KeyFreak\logs\" />
			<datePattern value="dd.MM.yyyy'.log'" />
			<staticLogFileName value="false" />
			<appendToFile value="true" />
			<rollingStyle value="Composite" />
			<maxSizeRollBackups value="10" />
			<maximumFileSize value="5MB" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
			</layout>
		</appender>

		<!-- Setup the root category, add the appenders and set the default level -->
		<root>
			<level value="INFO"/>
			<appender-ref ref="RollingLogFileAppender"/>
		</root>
	</log4net>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
 <userSettings>
  <KeyFreak.Properties.Settings>
   <setting name="AppGlobalKey" serializeAs="String">
    <value>Win + OemQuestion</value>
   </setting>
  </KeyFreak.Properties.Settings>
 </userSettings>
</configuration>
